* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .detailForm-wrap {
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    width: 750px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
  }
  .detailForm-wrap h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
  }
  .detailForm-wrap .form {
    padding-top: 20px;
  }
  /* .detailForm-wrap .form input[type="text"], */
  .detailForm-wrap .form textarea,
  .detailForm-wrap .form button {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    -moz-outline-style: none;
  }

  .detailForm-wrap .form textarea.post-title{
    font-size: 20px;
    min-height:2cm;
  }
  .detailForm-wrap .form textarea.post-desc{
    min-height:4cm;
    font-size: 15px;
  }

  .detailForm-wrap .form textarea{
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
  }
  .detailForm-wrap .form textarea:focus{
    border: 1px solid #3498db;
  }
  .detailForm-wrap .form a {
    text-align: center;
    font-size: 10px;
    color: #3498db;
  }
  .detailForm-wrap .form a p {
    padding-bottom: 10px;
  }
  .detailForm-wrap .form button {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
  }
  .detailForm-wrap .form button:hover {
    box-shadow: 1px 1px 5px #555;
  }
.detailForm-wrap .form .post-item-delete {
    width:max-content;
    padding: 0.1cm 0.4cm;
    position:relative;
    left:69%;
    background-color: rgb(212, 73, 87);
}
.detailForm-wrap .form .hide {
    visibility:hidden;
}
  .detailForm-wrap .form button:active {
    box-shadow: 1px 1px 7px #222;
  }
  .detailForm-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
    background: -moz-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
    height: 5px;
    border-radius: 5px 5px 0 0;
  }
  